.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
docker-compose.yml
Dockerfile
entrypoint.sh
tsconfig.json
webpack.config.json
.git
renovate.json
INSTALL.md
dist

