.vscode/**
.vscode-test/**
src/
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
docker-compose.yml
Dockerfile
entrypoint.sh
tsconfig.json
webpack.config.js
.git
renovate.json
INSTALL.md
node_modules
out


